* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font: 16px / 18.4px Arial, Helvetica, sans-serif;
}

.people {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 200px);
  column-gap: 30px;
  justify-content: center;
  justify-items: center;

  @media (min-width: 1000px) {
    --columns: 4;
  }

  .person {
    padding: 10px 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 1s;

    .photo {
      position: relative;
      margin-bottom: 8px;
      width: 200px;
      height: 200px;

      img {
        transition: transform 1s, border-radius 1s;
        width: 100%;
        border-radius: 50%;
      }

      .rank {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        color: #8b0000;
        background-color: #fff;
      }
    }

    &:hover {
      background-color: #eeeeee;
      transform: scale(1.2);
      position: relative;
      z-index: 1;

      .extra {
        visibility: visible;
      }

      img {
        border-radius: 60px;
      }
    }
  }

  .details {
    .name {
      display: block;
      text-align: center;
      font-size: 20px;
      line-height: 23px;
      color: #2f4f4f;
      margin-bottom: 11px;
    }

    .extra {
      visibility: hidden;
      text-align: center;
      font-size: 18px;
      line-height: 20.7px;
    }
  }
}
